/* メイン*/
main {
    font-size: 24px;
    color: #38bd38;
    text-align: center;
}


/* 画像 */

.local-img1 {
    width: 330px;
    height: 500px;
    border:solid 3px rgb(29, 49, 232);
}
.local-img2 {
    width: 330px;
    height: 500px;
    border:solid 3px rgb(19, 143, 245);
}
.local-img3 {
    width: 330px;
    height: 500px;
    border:solid 3px rgb(255, 68, 16);
}

.manganzi-img1 {
    width: 460px;
    height: 330px;
    border:solid 3px rgb(74, 165, 18);
}
.manganzi-img2 {
    width: 450px;
    height: 331px;
    border:solid 3px green;
}

.kare-img1 {
    width: 500px;
    height: 350px;
    border:solid 3px rgb(248, 117, 10);
}
.kare-img2 {
    width: 500px;
    border:solid 3px rgb(11, 37, 230);
}

.toretore-img1 {
    width: 440px;
    height: 350px;
    border:solid 3px rgb(230, 230, 11);
}
.toretore-img2 {
    width: 490px;
    height: 350px;
    border:solid 3px rgb(37, 234, 244);

}