/* サイト全体のcss */
@charset "UTF-8";

body {
  background-color: #fff;
  background-image: url(./img/daikenja.webp);
  background-size: cover;
}

/* ヘッダー */
header {
  color: #333;
  padding: 90px 0;
  text-align: center;
}


/* メニュー */
.main-menu ul {
  padding: 10px 0;
  color: #fff;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0 20px;
}
.main-menu{
  font-size: 40px;
}


/* メイン */
.main-home {
  text-align: center;
  font-size: 42px;
  color: #397bf5de;
}
.home-d {
  text-align: center;
  font-size: 27px;
  color: yellowgreen;
}
.main-center {
  margin-bottom: px;
  font-size: 32px;
  text-align: center;
  color: rgb(182, 127, 255);
}
.center-d {
  text-align: center;
  font-size: 27px;
  color: yellowgreen;
}

/* PC用のCSSはメディアクエリの外に記述する */
img {
  width: 100%;
}

@media screen and (max-width:480px) {
	/*　画面サイズが480px以下の場合ここの記述が適用される　*/

  body {
    background-color: #000000;
  }

  /* ヘッダー */
  header {
  background-color: #fff;
  background-size: cover;
  background-image: url(./img/daikenja.webp);
  color: #333;
  padding: 90px px;
  text-align: center;
  }

  .main-menu{
    font-size: 2rem;
  }
}
