/* サイト全体のcss */
@charset "UTF-8";

body {
  background-color: #000;
}

/* ヘッダー */
header {
  color: #333;
  background-color: #fff;
  background-image: url(./img/daikenja.webp);
  background-size: cover;
  padding: 90px 0;
  text-align: center;
}


/* メニュー */
.main-menu1 ul {
  font-size: 100%;
  padding: 5px 0;
  color: #fff;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.main-menu1 {
  font-size: 30px;
}

.main-menu2 ul {
  font-size: 100%;
  padding: 5px 0;
  color: #fff;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.main-menu2 {
  font-size: 30px;
}


/* メイン */
.main-home {
  text-align: center;
  font-size: 42px;
  color: #397bf5de;
}
.home-d {
  text-align: center;
  font-size: 27px;
  color: yellowgreen;
}
.main-center {
  margin-bottom: px;
  font-size: 32px;
  text-align: center;
  color: rgb(182, 127, 255);
}
.center-d {
  text-align: center;
  font-size: 27px;
  color: yellowgreen;
}

/* PC用のCSSはメディアクエリの外に記述する */
img {
  width: 100%;
}

@media screen and (max-width:600px){
  /* ヘッダー*/
  header {
    color: #333;
    background-color: #fff;
    background-image: url(./img/daikenja.webp);
    background-size: cover;
    padding: 10% 0;
    font-size: 70%;
    text-align: center;
  }

  /* メニュー */
  .main-menu1 ul{
    font-size: 70%
  }

  /* メイン */
  .main-home {
  text-align: center;
  font-size: 120%;
  padding: 0 5%;
  color: #397bf5de;
  }
  .home-d {
    text-align: center;
    font-size: 120%;
    padding: 5%;
    color: yellowgreen;
  }
  .main-center {
    margin-bottom: px;
    font-size: 120%;
    padding: 5%;
    text-align: center;
    color: rgb(182, 127, 255);
  }
  .center-d {
  text-align: center;
  font-size: 120%;
  color: yellowgreen;
  }

}
