/* メニュー */
.main-menu2 ul {
    font-size: 100%;
    padding: 5px 0;
    color: #fff;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.main-menu2 {
    font-size: 30px;
}

body {
    font-weight: 400;
    color: #191919;
}

/* メイン */
section {
    background-color: rgb(248, 250, 249);
    padding: 2%;
    margin: 0;
}

h1 {
    color: rgb(32, 120, 253);

}
h2 {
    color: rgb(107, 225, 225);
    text-align: center;
    padding: 10px 0;
}


.main1 p {
    color: #000;
    font-size: 90%;
    text-align: center;
}

/* 文庫紹介 */
.tensura {
    display: flex;
    justify-content: space-around ; /* 画像の間に均等に余白を設定 */
}
.tensura img {
    width: 20%; /* 画像が3つ並ぶように設定 */
    height: auto;
    border:solid 3px rgb(232, 29, 164);
}

.mozi {
    display: flex;
    justify-content: space-around ; /* 文字の間に均等に余白を設定 */
}
.mozi p {
    color: rgb(234, 114, 9);
    font-size: 140%;


}

/* キャラ */
.main3 p {
    text-align: center;
    font-size: 100%;
    color: rgb(255, 22, 5);
}

/* ゲーム */
.main4 {
    text-align: center;
}
.main4 p {
    text-align: center;
    color: blue;
}

a img {
    width: 90%;
    height: 500px;
    text-align: right;
    border:solid 3px rgb(232, 29, 164);
}




/*.game-home-page {
    list-style: none;
    display: flex;
    justify-content: space-around ;
    font-size: 120%;
}*/

@media screen and (max-width:600px){
    /* メニュー */
    .main-menu2 ul li {
        font-size: 70%;
    }
    /* メイン */
    h2 p {
        font-size: 50%;
        padding: 0 10%;
    }

    /* 文庫紹介 */
    .main3 img {
        width: 50%;
        height: 120px;
    }
    .mozi p {
        font-size: 130%;
    }

    /* ゲーム */
    .main4 {
        text-align: center;
        font-size: 130%;
    }
    .main4 img {
        width: 80%;
        height: 200px;
    }

}