/* メニュー */
.main-menu2 ul {
    font-size: 100%;
    padding: 5px 0;
    color: #fff;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.main-menu2 {
    font-size: 30px;
}

/* メイン */
section {
    background-color: rgb(248, 250, 249);
}

h1 {
    color: rgb(32, 120, 253);

}
h2 {
    color: rgb(107, 225, 225);
    text-align: center;
    padding: 10px 0;
}


h2 p {
    color: #000;
    font-size: 100%;
}

/* 文庫紹介 */
.tensura {
    display: flex;
    justify-content: space-around ; /* 画像の間に均等に余白を設定 */
}
.tensura img {
    width: 20%; /* 画像が3つ並ぶように設定 */
    height: auto;
    border:solid 3px rgb(232, 29, 164);
}

.mozi {
    display: flex;
    color: rgb(116, 57, 5);
    justify-content: space-around 
    
}

/* キャラ */
.mainkyara {
    display: flex;
    justify-content: space-around ;
}
.h3 img {
    width: 100px; /* 画像が3つ並ぶように設定 */
    height: auto;
}

.kyaraname {
    display: flex;
    color: rgb(116, 57, 5);
    justify-content: space-around 
}

@media screen and (max-width:700px){
    /* メニュー */
    .main-menu2 ul li {
        font-size: 70%;
    }
    /* メイン */
    h2 p {
        font-size: 50%;
        padding: 0 10%;
    }
}