body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
}

.main-menu ul li {
    font-size: 109%;
}

.form-group{
    text-align: center;
    color: #df6412;
    margin-bottom: 30px;
}
.form-group2 {
    text-align: center;
    color: #df6412;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:chartreuse;
    color:black;
    border-radius: 5px;
    /*cursor: pointer; */
}

button:hover {
    background-color:rgb(30, 212, 94);
    padding: 0 10px;
}

@media screen and (max-width:600px){
}